name: Test workflow

on:
  push:
  pull_request:

jobs:
  test-job:
    name: Test Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - uses: ./.github/actions/test
        with:
          message: "Experimenting with custom actions"

